/* Just some base styles not needed to function */
*, html {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
}

body, form, ul, li, p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

body {
	background-color: #696969;
	color: #ffffff;
	margin: 0;
}
/* img { border: none; } */
html {
	font-size: 100%; /* IE hack */
}

body {
	font-size: 1.2em; /* Sets base font size to 16px */
}

table {
	font-size: 100%; /* IE hack */
}

input, select, textarea, th, td {
	font-size: 1em;
}

/* CSS Tree menu styles */
ol.tree {
	padding: 0 0 0 4em;
}

li {
	position: relative;
	margin-left: -15px;
	list-style: none;
}

li.file {
	margin-left: -1px !important;
}

li.file a {
	/*	background: url(document.png) 0 0 no-repeat;*/
	color: #fff;
	padding-left: 21px;
	text-decoration: none;
	display: block;
}

li[def*='rule']:before {
	/*background: url(document.png) 0 0 no-repeat;*/
	font-size: 1.1em;
	margin: -0.125em 0 0 0;
	position: absolute;
	/*font-family: FontAwesome;*/
	color: #b2caea;
	content: "R";
}

/*
label>a[href*='service'] {
	background: url(document.png) 0 0 no-repeat;
	font-family: FontAwesome;
	content: "\f196";
}

li.file a[href*='.pdf'] {
	background: url(document.png) 0 0 no-repeat;
}

li.file a[href*='.html'] {
	background: url(document.png) 0 0 no-repeat;
}

li.file a[href$='.css'] {
	background: url(document.png) 0 0 no-repeat;
}

li.file a[href$='.js'] {
	background: url(document.png) 0 0 no-repeat;
}
*/
li input {
	position: absolute;
	left: 0.125em;
	margin-left: -1.5em;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

li input+ol {
	position: relative;
	margin: 0 0 0 -0.5em;
	/*	background: url(toggle-small-expand.png) 40px 0 no-repeat;
	
	height: 1em;*/
}

li input+ol:before {
	position: absolute;
	font-family: FontAwesome;
	content: "\f196";
	font-size: 1.2em;
	margin: -1em 0 0 -2.625em;
}

li input:checked+ol:before {
	position: absolute;
	font-family: FontAwesome;
	content: "\f147";
	font-size: 1.2em;
	margin: -1em 0 0 -2.625em;
	/*margin: -1.1em 0 0 -2.6em;
/*	background: url(toggle-small.png) 40px 5px no-repeat;
   	padding-top: 0.125em;
	padding-bottom: 0.063em;
	margin: -1.25em 0 0 -44px; 
	padding: 1.563em 0 0 80px;
	height: auto;*/
}

li input+ol>li {
	display: none;
	margin-left: -14px !important;
	padding-left: 1px;
}

/*
li label {
	background: url(folder-horizontal.png) 0.25em 0.25em no-repeat;
	cursor: pointer;
	display: block;
	padding-top: 0.063em;
	padding-bottom: 0.063em;
	padding-left: 25px;
}
*/
i[def*='.S'] {
	color: #55ba8f;
	margin: 0 0.25em 0 -0.25em;
}

i[def*='.X'] {
	color: #aba1c6;
	margin: 0 0.25em 0 -0.25em;
}

i[def*='.C'] {
	color: #db9351;
	margin: 0 0.25em 0 -0.25em;
}

i {
	font-size: 1.1em;
	/*background: url(folder-horizontal.png) 0.25em 0.25em no-repeat;*/
	/*cursor: pointer;
	display: block;
	padding-top: 0.063em;
	padding-bottom: 0.063em;
	padding-left: 25px;*/
}

li input:checked+ol {
	/*	background: url(toggle-small.png) 40px 5px no-repeat;
	margin: -1.25em 0 0 -44px; 
	padding: 1.563em 0 0 80px;
	height: auto;*/
	
}

li input:checked+ol>li {
	display: block;
	margin: 0 0 0.125em; /* 2px */
}

li input:checked+ol>li:last-child {
	margin: 0 0 0.063em; /* 1px */
	margin: 0;
}

/* CSS custom styles */
.beanName {
	color: bisque;
}

.rName {
	color:deepskyblue;
}

.rFileName {
	margin-left: 10px;
}
.miFN{
	color:#009f9f;
}
.miSN{
	color:#00d2d2;
	margin-left: 5px;
}
.miSrvN{
	margin-left: 5px;
	color:#00f2f2;
}

.cgryRC{
   color: #b2caea;	
}
.xclients {
	color: deepskyblue;
}
.xcCountWrong{
	color: #ff3737;
	font-weight: bold;
}

#detailData {

}


#beanPolicyData {
	
}




